project:
  type: website


website:
  title: "PaleoAnth SiteMaps"
  navbar:
    pinned: true
    left:
      - href: index.qmd
        text: Home
format:
  html:
    theme: Sandstone
    css: styles.css
    toc: true
    
    
